.titulo_batata{
    width: 55rem;
    height: 11rem;
    margin: auto;
    position: relative;
    margin-top: 15rem;
    padding: 2rem;
    display: flex; 
}

.primera_sec{
    width: 100%;
    height: 83rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    position: absolute;
}

.title_principal{
    color: var(--Bitcoin-Orange);
    font-size: 6rem;
    align-content: center; 
    font-weight: bold;
}

.icono_1{
    display: flex;
    height: 8rem;
    margin-top: 1rem;
    margin-right: 2rem;
    padding: 1rem; 

}

.descripcion{
    width: 80rem;
    height: 80rem;
    margin: auto;
    margin-top: 7rem;
}

.texto_1{
    text-align: center;
    font-size: 5rem;
    color: var(--Just-White);
}

.texto_2{
    margin-top: 7rem;
    text-align: center;
    font-size: 3rem;
    color: #FFE9D4;
}

.caja_arrow_D{
    width: 50rem;
    height: 10rem;
    background-color: var(--Just-White);
    margin: auto;
    border-radius: 1rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding: 3rem 2rem 3rem 6rem;
    -webkit-box-shadow: 2px 14px 17px 0px rgba(209,209,209,0.69);
    -moz-box-shadow: 2px 14px 17px 0px rgba(209,209,209,0.69);
    box-shadow: 2px 14px 17px 0px rgba(209,209,209,0.69);
     
}

.flechita{
    font-size: 3rem;
    display: flex;
    color: var(--Warm-Black-1); 
}
/*_________________________________________*/

.segunda_sec{
    width: 90rem;
    height: 90rem;
    margin: auto;
    margin-top: -20rem;
}

.boitcoin_img{
    height: 30rem;
    margin: auto;
}

.texto_4{
    margin-top: 6rem;
    text-align: center;
    font-size: 3rem;
    color: var(--Warm-Black)
}

.texto_5{
    font-size: 3rem;
    color: var(--Grey);
    text-align: center;
    margin-top: 4rem;
    padding: 0rem 2rem 0rem 2rem;
}


/*_________________________________________*/

.Tercera_sec{
    width: 85rem;
    height: 12;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: -30rem;
}

.texto_6-Orange{
    color: var(--Bitcoin-Orange);
    font-size: 3rem;
    margin-bottom: 3rem;
    width: 40rem;
    height: 6rem;
    padding-left: 3rem;
}

.texto_6Azul{
    color: var(--Secondary-Blue);
    font-size: 3rem;
    margin-bottom: 3rem;
    width: 40rem;
    height: 6rem;
}

/*______________________________*/

.Cuarta_sec{
    width: 100%;
    height: 80rem;
    background-color: var(--Warm-Black);
    margin-top: 10rem;
}


.titulo_n{
    font-size: 6rem;
    color: var(--Off-White);
    font-weight: lighter;  
}

.texto_9{
    font-size: 4rem;
    color: #808080;
    margin-top: 1rem;
}

/*________CAJAS_______________________*/

.content_C{
    width: 100rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.contenedor_AC{
    width: 110rem;
    height: 50rem;
    margin: auto;
    margin-top: 3rem;
}

.cajas{
    width: 50rem;
    height: 17rem;
    background-color: #282623;
    margin: 3rem; 
    border-radius: 1rem;
    padding-bottom: 3rem;
    padding: 2rem;
}

cajas, h4{
    font-size: 2.5rem;
    color: var(--Just-White);
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

cajas, p{
    font-size: 2rem;
    color: #808080;
}

.cajas img{
    width: 3rem;
    height: 3rem;
    margin: 1rem 1rem 1rem 0rem;
}

/*________________________*/

.content_A{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.cajas2{
    width: 50rem;
    height: 17rem;
    background-color: #282623;
    margin: 3rem; 
    border-radius: 1rem;
    padding-bottom: 3rem;
    padding: 2rem;
}

.title{
    font-size: 2.5rem;
    color: var(--Just-White);
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.text{
    font-size: 2rem;
    color: #808080;
}

.cajas2 img{
    width: 3rem;
    height: 3rem;
    margin: 1rem 1rem 1rem 0rem;
}

/*_______________________________________*/


.Quinta_sec{
    width: 100%;
    height: 40rem;
    background-image: url(../img/bitcoinbaby-tableta%20.png);
    background-size: contain;
    background-repeat: no-repeat;  
    margin: auto;
    margin-bottom: 3rem;
}

.texto_11{
    width: 100%;
    height: 10rem;
    font-size: 5rem;
    position: absolute;
    color: var(--Off-White);
    margin: auto;
    align-content: center;
    text-align: center;
    align-items: center;
}

/*_______________________________________*/

.sec_preguntas{
    width: 80rem;
    height: 60rem;
    margin: auto;
    margin-top: 10rem;
}

.titulo_preg{
    font-size: 5rem;
    color: var(--Warm-Black-1);
    align-items: center;
    align-content: center;
    text-align: center;
}

.texto_griss{
    font-size: 3rem;
    margin-top: 3rem;
    color: #7A7A7A;
    padding: 1rem;
}












